p.user{
    padding-top: 15px;
    display: inline;
    font-size: 18px;
}

ul li{
    font-size:18px;
    position:relative;
    /* text-decoration: underline;
    text-decoration-thickness: 5px; */
    /* text-underline-offset: 10px; */
}


ul li:hover{
    font-weight: bold;
}

ul li:after{
    content: "";
    height: 5px;
    width: 0px;
    background: black;
    border-radius: 10px;
    position:absolute;
    bottom:-5px;
    right:0;
    transition:0.3s;
}

ul li:hover:after{
 width:100%;
 left:0;
}